* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: rgb(226, 226, 226);
}

/*Inician los estilos de el search*/
.search {
  background: #fcea29;
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
}

.search-container {
  padding: 10px 0;
  display: flex;
  width: 90%;
  justify-content: center;
}

.search-container .logo {
  position: relative;
  left: 3%;
  top: 2px;
}

.search-input {
  position: relative;
  left: 5%;
  background: #fff;
  border-radius: 5px;
  width: 60%;
}

.search-input input {
  width: 100%;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 40px;
  font-size: 15px;
  padding: 0 15px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  color: rgb(139, 138, 138);
}

.search-input .icon {
  height: 40px;
  width: 20px;
  padding: 20px;
  background: rgb(238, 238, 238);
  line-height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  cursor: pointer;
}

.search-input .icon img {
  position: absolute;
  top: 13px;
  right: 10px;
}

.search-input .autocomplete {
  padding: 0;
  max-height: 200px;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
}

.search-input.active .autocomplete {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocomplete li {
  list-style-type: none;
  padding: 5px 10px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}

.search-input.active .autocomplete li {
  display: block;
}

.autocomplete li:hover {
  background: #efefef;
  cursor: pointer;
}

/*Terminan los estilos de el search*/

/*Inician los estilos de history*/
.history {
  display: flex;
  justify-content: center;
}

.history-container {
  width: 62.5%;
}

.history ul li {
  display: inline;
  color: rgb(94, 93, 93);
}
/*Terminan los estilos de history*/

/*Inician los estilos de results*/
.results {
  position: relative;
  top: 15px;
  padding: 10px 30px 0 0;
  margin-bottom: 100px;
}

.results-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 65%;
  background: #fff;
  padding-bottom: 50px;
  padding-top: 20px;
}

.left {
  width: 60%;
  justify-content: center;
}

.left img {
  width: 70%;
  height: auto;
  margin: 70px 0 50px 70px;
}

.left h3 {
  font-weight: normal;
  padding: 20px 0;
  font-size: 23px;
}

.left p {
  font-size: 15px;
  text-align: justify;
}

.right {
  position: relative;
  width: 30%;
}

.right h3 {
  padding-top: 5px;
  font-size: 22px;
}

.right h2 {
  padding-top: 10px;
  font-size: 38px;
  font-weight: normal;
}

.right h2 span {
  vertical-align: super;
  font-size: 25px;
  position: relative;
  top: 5px;
  margin-left: 3px;
}

.right button {
  background: rgb(0, 95, 248);
  padding: 10px 10px;
  text-align: center;
  width: 100%;
  outline: none;
  border: 1px solid rgb(0, 95, 248);
  border-radius: 5px;
  color: #fff;
  margin-top: 40px;
  cursor: pointer;
}
/*Terminan los estilos de results*/

/*Inician los estilos de products*/
.products-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 65%;
  background: #fff;
  padding-bottom: 50px;
  padding-top: 10px;
}

.item {
  display: flex;
  justify-content: center;
  border-bottom: 0.5px solid rgb(204, 203, 203);
  padding-bottom: 5px;
}

.images {
  max-width: 250px;
  max-height: 250px;
  background: #fff;
  margin: 10px;
  overflow: hidden;
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.description {
  display: flex;
  justify-content: center;
}

.info {
  margin-top: 15px;
}

.info h2 {
  font-weight: normal;
  font-size: 20px;
}

.info h3 {
  font-weight: normal;
  font-size: 14px;
  padding: 0 70px;
  white-space: nowrap;
  margin-top: 10px;
}

.info p {
  margin-top: 15px;
}
/*Terminan los estilos de products*/ ;
